<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f8f6bda6a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <title>Fallout 4: Game Of The Year Edition</title>
</head>
<body>
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Fallout_4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Videojuegos</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./Dragon's_Dogma_2.html">Dragon's Dogma 2</a></li>
                <li><a class="dropdown-item" href="./Final_Fantasy_VII.html">Final Fantasy VII Rebirth</a></li>
                <li><a class="dropdown-item" href="./Horizon_Forbidden_West.html">Horizon Forbidden West</a></li>
                <li><a class="dropdown-item" href="./Red_Dead_Redeption_2.html">Red Dead Redemption 2</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="./Fallout_4.html">Fallout 4: Game Of The Year Edition</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Nosotros</a>
            </li>
          </ul>
    </header>
    <div id="titulo">
      <br>
      <h1>Fallout 4 Game Of The Year</h1>
      <br>
    </div>
    <div id="parte1">
      <div id="portada">
        <div id="juego">

          <section id="IMAGENPORTADA"><img src="../img/fallout_4/fallout_caratula.png" alt="Fallout_4"></section>

          <section id="DESCRIPCIÓN">
            <h2>DESCRIPCIÓN:</h2>
            <p>Fallout 4 es un videojuego de rol de acción desarrollado por Bethesda Game Studios y distribuido por Bethesda Softworks. Es la séptima entrega de la serie Fallout. Fallout 4 es un juego post-apocalíptico de rol. El jugador es el Único Superviviente del Refugio 111, quien emerge 210 años después de la Gran Guerra. Antes a eso, hay un breve momento de gameplay durante la era de la pre-guerra, donde el jugador vive con su esposa e hijo.</p>
          </section>
          <section id="juegplat">
            <div id="juegoplat">
              <h2>PLATAFORMA:</h2>
              <ul>
                <li>Playstation 4</li>
                <li>Playstation 5</li>
                <li>Microsoft Windows</li>
                <li>Xbox One</li>
                <li>Xbox Series X/S</li>
              </ul>
              <h2>EDICIÓN:</h2>
              <ul>
                <li>Edición Estandar</li>
                <li>Edición GOTY</li>
              </ul>
              <h2>VALORACIÓN:</h2>
              <div id="VALORACIONES">
                <img src="../img/5stars.png" alt="5 stars">
                <p>8 Valoraciones</p>
              </div>
              <img src="../img/PEGI18.png" alt="PEGI 18" width="50px" height="70px"></p>
            </div>
          </section>

          <section id="COMPRAR">
            <h2>COMPRAR</h2>
            <p>49,99€</p>
            <a class="btn btn-danger" href="https://www.mediamarkt.es/es/product/_ps4-fallout-4-game-of-the-year-edition-1374778.html" role="button" target="_blank">
              <i class="fa-solid fa-cart-shopping" style="color: #f1f0f4;"></i>
            </a>
          </section>
        </div>
      </div>
    </div> 
    <div id="ingame">
      <h1>Imagenes del juego</h1>
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="true">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/horizon_forbidden/game1.png" class="d-block w-100" alt="Foto1">
              </div>
              <div class="carousel-item">
                <img src="../img/horizon_forbidden/game2.png" class="d-block w-100" alt="Foto1">
              </div>
              <div class="carousel-item">
              <img src="../img/horizon_forbidden/game3.png" class="d-block w-100" alt="Foto1">
              </div>
              <div class="carousel-item">
                <img src="../img/horizon_forbidden/game4.png" class="d-block w-100" alt="Foto1">
              </div>
              <div class="carousel-item">
                <img src="../img/horizon_forbidden/game5.png" class="d-block w-100" alt="Foto1">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <br>
    <div>
      <h1>Gameplay</h1>
      <iframe width="1300" height="700" src="https://www.youtube.com/embed/YUI5GXaOG_s?si=9ZVeKyrZCxa2Rc4f" title="Fallout4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
</body>
</html>